.banner {
    display: flex;
    background: url(../assets/svg/background-mobile_490px.svg) no-repeat;
    background-position: left 100% top 0%;
    width: auto;
    height: auto;
}

.conteiner {
    margin-top: 225px;
    margin-left: 23px;
}

.logo {
    width: 190px;
    height: 87.34px;
}

.conteiner__titulo {
    line-height: 33px;
    font-size: 32px;
    font: bold;
}

.conteiner__descricao {
    line-height: 25px;
    font-size: 19px;
    margin: 10px 0;
}

.fomulario__item {
    color: var(--branco);
    font-size: 18px;
    margin: 1em 0 0 0;
    background-color: transparent;
    border: 2px solid var(--branco);
    padding: .5em;
    border-radius: 19px;
    width: 95%;
}

.fomulario__item::placeholder {
    text-align: left;
    font: bold;
    font-size: 16px;
    color: var(--branco);
}

.fomulario__botao {
    text-align: center;
    background-color: var(--laranja-botao);
    border: 2px solid var(--branco);
    border-radius: 19px;
    padding: 10px;
    width: auto;
    margin: 2em 1.5em 2em 0;
}

.cards {
    background-color: var(--preto);
    padding: 40px;
    height: auto;
}

.cards__item {
    margin: 40px 0;
    border-radius: 19px;
    background-color: var(--cinza);
    padding: 1em 2.5em;
    width: auto;
    height: auto;
}

.cards__titulo {
    font: bold;
    font-size: 34px;
    text-align: center;
}

.cards__item h2 {
    margin-top: .5em;
    font: bold;
    font-size: 24px;
}

.cards__titulo-destaque{
    color: var(--laranja);
}

.rodape{
    text-align: center;
    background-color: var(--laranja);
    width: auto;
    padding: 1em;
}

.rodape h2{
    padding: 5px;
    font-size: 1em;
    font: bold;
    text-align: center;
}

.rodape__cnpj{
    padding: 2em 0 2em 0;
    text-transform: uppercase;
}

@media screen and (min-width: 496px) {
    .banner, .conteiner, .cards, .rodape {
        display: none;
    }
}